body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-name {
  align-self: flex-start;
  margin-left: 20px;
  font-size: 30px;
  color: #0D7377;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 550px;
  padding: 30px 0px;
  border-radius: 6px;
  box-shadow: 0px 5px 12px grey;
  background-color: white;
  transition: 0.3s ease-in-out all;
}

form:hover {
  box-shadow: 0px 10px 28px grey;
}

.form-header {
  margin: 0px 0px 10px 0px;
  color: #0D7377;
  font-size: 26px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
}

label {
  font-size: 16px;
  margin-bottom: 6px;
  color: #212121;
}

.input {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  border: 1px solid grey;
  padding-left: 8px;
}

input::file-selector-button {
  font-weight: bold;
  color: #0D7377;
  padding: 6px 16px;
  border: 1px solid #0D7377;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.3s ease-in-out all;
}

input::file-selector-button:hover {
  color: #929191;
  border: 1px solid #929191;
}

.btn {
  margin-top: 20px;
  border: none;
  outline: none;
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
  background-color: #0D7377;
  color: white;
  transition: 0.4s ease-in-out all;
}

.btn:hover {
  background-color: #32E0C4;
}

.output-container {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-container {
  width: 250px;
  margin: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 10px grey;
  border-radius: 6px;
  background-color: white;
}

img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #212121;
}

.price {
  color: #0D7377;
  font-weight: 600;
}
